<p id="notice"><%= notice %></p>

<p>
  <strong>Vacc type:</strong>
  <%= @project.vacc_type %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Batch number:</strong>
  <%= @project.batch_number %>
</p>

<p>
  <strong>Vaccinator:</strong>
  <%= @project.vaccinator %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
